html, body {
  width: 100%;
  text-align: center;
  font-family: Arial;
  padding: 50px;
}
button {
  display: block;
  margin: 0 auto;
  background: #BD93D8;
  padding: 15px 40px;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  animation-iteration-count: infinite;
}
@keyframes pulse { /* defines styles along the animation sequence; pulse is the name of the animation identifier */
  0% {
    transform: scale3d(1, 1, 1); /* resizes an element in 3d space */
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.animation {
  animation-duration: 1s;
  animation-name: pulse;
}
